<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div class="container">
        <div class="card card-container"> 
          <div style="text-align: center">
            <span class="color1" style="font-size: 25px">F</span>
            <span class="color2" style="font-size: 25px">U</span>
            <span class="color3" style="font-size: 25px">N</span>
            <span class="color4" style="font-size: 25px">D</span>
            <span class="color5" style="font-size: 25px">O</span> 
            <span style="font-size: 25px">O</span>
          </div>
            <h4 style="text-align: center">Admin Login</h4>
            <form class="form-signin" style="height:30vh">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                <div class="space"> </div>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="space"> </div>
                <button id="login" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Log in</button>
                <p id="error" style="color:red"></p>
            </form>
        </div>
    </div> 
 