<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script>"https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"</script>
<script>"https://cdn.datatables.net/scroller/1.5.1/js/dataTables.scroller.min.js"</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div style="padding-top:1%">
</div>
<div class="container">
  <div class="card">
    <div class="card-body text-white toolColor" style="border:none">
      <div style="text-align: center">
        <span class="color1" style="font-size: 25px">F</span>
        <span class="color2" style="font-size: 25px">U</span>
        <span class="color3" style="font-size: 25px">N</span>
        <span class="color4" style="font-size: 25px">D</span>
        <span class="color5" style="font-size: 25px">O</span>
        <span class="color1" style="font-size: 25px">O</span>
        <span style="color:black;float:left;">Admin Page</span>
        <span style="float:right">
          <button type="button" class="btn btn-dark" style="float:right" id="logoutButton">Logout</button>
        </span>
      </div>
    </div>
  </div>
  <div style="padding-top:2%">
    </div>
  <span style="text-transform:uppercase" id="services"></span>
  <div style="padding-top:4%">
  </div>
  <div class="card" style="background-color:lightslategray">
    <table id="tableid" class="table table-bordered">
      <thead style="background-color:lightslategray">
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Email</th>
          <th scope="col">Services</th>
        </tr>
      </thead>
    </table>
  </div>
</div>