
  <div class="card toolColor" >
    <div class="align" fxLayout="row" >
      <span class="color1">F</span>
      <span class="color2">U</span>
      <span class="color5">N</span>
      <span class="color3">D</span>
      <span class="color4">O</span>
      <span class="color1">O</span>
      <span class="logout">
      <div (click)="back()" class="btn btn-dark">Goto Dashboard</div>
      </span>
    </div>
    <div style="padding-top:20px"></div>
    <div class="display" style="font-style:2vw">
      <h1 class="display-5">Approve / Reject Cart </h1>
    </div>
  </div>

  <div class="card">
    <table id="cartList" class="table  table-row table-condensed table-bordered display nowrap" style="width:100%">
      <thead style="background-color:slategray">  
        <tr class="table-row table-striped ">
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th ></th>
          <th scope="col">Confirm </th>
        </tr>
      </thead>
    </table>
  </div>